@charset "UTF8";

/*
    Paleta de cores
    Cor 01: #0B2B3A
    Cor 02: #E16C5B
    Cor 03: #E9614B
    Cor 04: #FFF5FD
    Cor 05: #022124
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #E16C5B, #0B2B3A);
    }
    
    section#login {
        width: 80vw;
        height: 350px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        height: 100%;
    }

    form > input[type=submit] {
        margin-top: 20px;
        position: relative;
        left: 24%;
        width: 75%;
        transform: translate(-15%, 0%);

    } 
    form > a.button {
        margin-top: 5px;
        position: relative;
        left: 24%;
        width: 75%;
        transform: translate(-15%, 0%);
    }

    div.campo > input {
        width: 75%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #E16C5B, #0B2B3A);
    }

    section#login {
        width: 900px;
        height: 450px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.1em;
    }

    form > input[type=submit] {
        margin-top: 20px;
        position: relative;
        left: 24%;
        width: 75%;
        transform: translate(-15%, 0%);

    }
    form > a.button {
        margin-top: 5px;
        position: relative;
        left: 24%;
        width: 75%;
        transform: translate(-15%, 0%);
    }

    div.campo > input {
        width: 75%;
    }
}