@charset "UTF8";

/*
    Paleta de cores
    Cor 01: #0B2B3A
    Cor 02: #E16C5B
    Cor 03: #E9614B
    Cor 04: #FFF5FD
    Cor 05: #022124
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #0B2B3A;
    height: 100vh;
    width: 100vw;
    color: #022124;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

p {
    margin: 10px 0px 0px 10px;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #FFF5FD;
    width: 260px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px white;

    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #0B2B3A url('../imagens/pexels-landscape.jpg') no-repeat center center;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 10px 0px 0px 10px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #0B2B3A;
    color: #FFF5FD;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
}

form > input[type=submit]:hover {
    background-color: #0b2b3acc;
}

form > a.button {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #FFF5FD;
    color: #0B2B3A;
    border: 1px line #0B2B3A;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    padding-top: 8px;
    margin-top: 5px;
}

form > a.button:hover {
    background-color: #0B2B3A;
    color: #FFF5FD;

}

form > a.button > span {
    font-size: .9em;
}